<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
            integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
        <link rel="stylesheet" href="../../bootstrap-5.0.1-dist/css/bootstrap.css">
        <link rel="stylesheet" href="../../main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Oswald:wght@200&display=swap"
            rel="stylesheet">
        <title></title>
    </head>

    <body>




        <header class="header">

            <div class="header-bg">

                <div class="nav-header">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-transparant">
                        <div class="container-fluid">

                            <a class="navbar-brand title-police" href="#">Cui'zine</a>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Accueil</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" id="navbarDropdown">Equipe</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="titre-index ">
                        <img id="square-index" src="../../img/" alt="image-">
                        <h1 class="title-police">Cui'zine</h1>
                        <h3 class="title-police">Le mag cuisine</h3>
                    </div>

                </div>

            </div>



        </header>



        <footer class="footer">

            <div class=" bg-dark d-flex justify-content-around   text-light pt-5 pb-5 ">
    
                <div class="title-police">Categories
    
                    <ul class="list-unstyled">
                        <li>
                            <a href="">Revues</a>
                        </li>
                        <li>
                            <a href="">Recettes</a>
                        </li>
                        <li>
                            <a href="">Decouvertes</a>
                        </li>
                    </ul>
                </div>
    
                <div class="title-police">Archives
                    <ul class="list-unstyled">
                        <li>
                            <a href="">2019</a>
                        </li>
                        <li>
                            <a href="">2018</a>
                        </li>
                        <li>
                            <a href="">2017</a>
                        </li>
                    </ul>
                </div>
    
                <div>
                    <h6 class=" title-police">Newsletter</h6>
                    <form>
                        <input type="email" placeholder="Email..">
                        <button>S'inscrire</button>
                    </form>
    
                    <h6 class="title-police">Partager</h6>
                    <div class="button-share-footer">
                        <button class="button-footer"> <i class="fab fa-facebook-square"></i></button>
                        <button class="button-footer"><i class="fab fa-instagram"></i> </button>
                        <button class="button-footer"><i class="fab fa-youtube"></i></button>
                        <button class="button-footer"><i class="fab fa-twitter"></i></button>
                    </div>
                </div>
    
    
    
    
    
            </div>
    
    
        </footer>



</body>

</html>