<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
            integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
        <link rel="stylesheet" href="../../bootstrap-5.0.1-dist/css/bootstrap.css">
        <link rel="stylesheet" href="./contact.css">
        <link rel="stylesheet" href="../../main.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Oswald:wght@200&display=swap"
            rel="stylesheet">
        <title></title>
    </head>

    <body>

        <header class="header">

            <div class="header-bg">

                <div class="nav-header">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-transparant">
                        <div class="container-fluid">

                            <a class="navbar-brand title-police" href="#">Cui'zine</a>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link" href="../../index.html">Accueil</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../team/team.html" id="navbarDropdown">Equipe</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../post/post.html">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../contact/contact.html">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="titre-index ">
                        <img id="square-index" src="../../img/logo_square_white.png" alt="image-">
                        <h1 class="title-police">Nous contacter</h1>
                    </div>

                </div>

            </div>



        </header>

        <main>
            <div class="row mx-5">
                <div class="col-lg-9 ps-5 pt-3 title-police">
                    <h2 class=" title-police">Contact</h2>
                    <div  class="ms-5">
                        <h2 class="title-police">Adresse</h2>
                        <p>Station F</p>
                        <p>5 Parvis Alin Turing</p>
                        <p>75013 Paris</p>
                    </div>
                </div>
                <div class="col-lg-3 pt-3">
    
    
                    <div class="row">
    
                        <form>
    
                            <label class="col-lg-12 title-police"> Recherches</label>
                            <input class="col-lg-12" type="search" placeholder="recherche..">
                            <input class="input-2 col-lg-12" type="submit" value="OK">
                        </form>
                    </div>
    
    
                    <div class="row">
    
                        <form class="form-right">
    
                            <label class="col-lg-12 title-police"> Newsletter</label>
                            <input class="col-lg-12" type="email" placeholder="Email..">
                            <input class="input-2 col-lg-12" type="submit" value="S'inscrire">
                        </form>
                    </div>
    
                    <div class="row">
                        <h3 class="title-police">Partager</h3>
                        <div class="col-lg-3">
                            <i class="fab fa-facebook-square"></i>
                        </div>
                        <div class="col-lg-3">
                            <i class="fab fa-instagram"></i>
                        </div>
                        <div class="col-lg-3">
                            <i class="fab fa-youtube"></i>
                        </div>
                        <div class="col-lg-3">
                            <i class="fab fa-twitter"></i>
                        </div>
                    </div>
    
    
                </div>
            </div>
            
            <!-- <div id="mapid">
                <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                crossorigin="">
                var mymap = L.map('mapid').setView([51.505, -0.09], 13);
                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1,
                    accessToken: 'your.mapbox.access.token'
                }).addTo(mymap);
                </script>
            </div> -->
                
            
        </main>

        <footer class="footer">

            <div class=" bg-dark d-flex justify-content-around   text-light pt-5 pb-5 ">
    
                <div class="title-police">Categories
    
                    <ul class="list-unstyled">
                        <li>
                            <a href="">Revues</a>
                        </li>
                        <li>
                            <a href="">Recettes</a>
                        </li>
                        <li>
                            <a href="">Decouvertes</a>
                        </li>
                    </ul>
                </div>
    
                <div class="title-police">Archives
                    <ul class="list-unstyled">
                        <li>
                            <a href="">2019</a>
                        </li>
                        <li>
                            <a href="">2018</a>
                        </li>
                        <li>
                            <a href="">2017</a>
                        </li>
                    </ul>
                </div>
    
                <div>
                    <h6 class=" title-police">Newsletter</h6>
                    <form>
                        <input type="email" placeholder="Email..">
                        <button>S'inscrire</button>
                    </form>
    
                    <h6 class="title-police">Partager</h6>
                    <div class="button-share-footer">
                        <button class="button-footer"> <i class="fab fa-facebook-square"></i></button>
                        <button class="button-footer"><i class="fab fa-instagram"></i> </button>
                        <button class="button-footer"><i class="fab fa-youtube"></i></button>
                        <button class="button-footer"><i class="fab fa-twitter"></i></button>
                    </div>
                </div>
    
    
    
    
    
            </div>
    
    
        </footer>



</body>

</html>