<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../homepage/homepage.css">
    <link rel="stylesheet" href="../../bootstrap-5.0.1-dist/css/bootstrap.css">
    <title>Document</title>
</head>

<body>

    <section class="page">


        <header>

            <div class="header-bg">

                <div class="nav-header">

                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">Cui'zine</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Equipe
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="#">Vincent</a></li>
                                            <li><a class="dropdown-item" href="#">Béatrice</a></li>
                                            <li><a class="dropdown-item" href="#">Rosita</a></li>
                                        </ul>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contact</a>
                                    </li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                </div>

            </div>



        </header>

        <main>


            <div class="titre-page">
                <h2>Derniers articles</h2>
            </div>



            <div class="text-section">

                <div class="title-text-session">
                    <div>
                        image
                    </div>
                    <div>

                        <p> La franchise "Chez Suzette" qui fait un carton chez les bretons ouvre son premier restaurant
                            à Paris dans le quartier latin. Antoine de Cui'zine a testé pour vous les saveurs sucrées,
                            salées au froment ou au sarrazin!</p>
                    </div>
                </div>

                <div class="title-text-session">
                    <div>
                        image
                    </div>
                    <div>
                        Germain est ferrovipathe (ndlr: fan de train), son fils Maxime est pâtissier. Ils ont décidé de
                        réunir leur deux passions dans un restaurant à la déco inspiré du métro parisien. A voir
                        absolument, mais qu'en est-il d'y aller pour manger ? Clémentine entre en gare et nous donne son
                        avis
                    </div>

                </div>

                <div class="title-text-session">
                    <div>
                        image
                    </div>
                    <div>
                        Quand on pense italien, on pense lasagne et jambon de Parme. Ils l'ont fait, les saveurs de
                        l'Italie à portée des herbivores. Cette fois, c'est moi Tony qui vais le tester pour vous.
                    </div>

                </div>


            </div>


            <div class="page-form">

            </div>


        </main>



        <footer>
            <div class="footer">
                <div class="title-text-session">
                    Categories <br>
                    <ul>


                        <li>
                            <a href="">Revues</a>
                        </li>
                        <li>
                            <a href="">Recettes</a>
                        </li>
                        <li>
                            <a href="">Decouvertes</a>
                        </li>
                    </ul>
                </div>

                <div class="title-text-session">
                    Archives <br>
                    <ul>
                        <li>
                            <a href="">2019</a>
                        </li>
                        <li>
                            <a href="">2018</a>
                        </li>
                        <li>
                            <a href="">2017</a>
                        </li>
                    </ul>
                </div>

                <div class="form-newletter-partager">
                    newletter/partager
                    <div class="newsletter-form">
                        <div class="share-form">

                        </div>
                    </div>
                </div>





            </div>


        </footer>

    </section>


</body>

</html>